.btn {
    border: 1px solid rgb(236, 233, 233);
    border-radius: 0 !important;
}

.wd-button-ban {
    background-color: #f5f5f5;
}

.wd-button-publish {
    background-color: rgb(99, 210, 99) !important;
}

.wd-button-publish i {
    color: rgba(255, 255, 255, 80) !important;
}

.wd-course-right-side-bar a {
    background-color: #f5f5f5;
    margin-bottom: 2px;
    margin-top: 2px;
}

.wd-course-todo a {
    background-color: white;
}

.wd-course-todo-title {
    color: red !important;
}

.wd-course-todo {
    background-color: white;
}